body{
    background-color: rgb(213, 194, 231);
    font-family: "Dongle", serif;
    /* 배경 */
}
.box1{
    /* 중앙 정렬 */
    display: flex;
    justify-content:center;
    align-items: center;
    /* 세로로 중앙에 정렬 */
    flex-direction: column;
    /* 텍스트 왼쪽 정렬 */
    text-align: left;
    /* 요소 사이의 간격 */
    gap: 20px;
}
.box2{
    justify-content: center;
    display: flex;
    width: 600px;
    height: 120px;
    line-height: 100px;
    background-color: white;
    border:1px ;
    padding-left:20px;
    border-radius:16px;
    border-top:6px solid purple;
    font-family:"Dongle", serif;
    font-size:80px;
}
.box3{
    font-family: "Dongle", serif;
    font-size:23px;
    width: 600px;
    height: 120px;
    border-radius:12px;
    border-left:6px solid purple;
    padding-left: 30px;
    background-color: white;
    
}
input[type="text"]{
    font-family: "Dongle", serif;
    font-size:20px;
    text-align: center;
    height:23px;
    margin-left:30px;
}
select:hover{
    background-color: rgb(212, 174, 212);
}
.box4{
    font-family: "Dongle", serif;
    font-size:23px;
    width: 600px;
    height: 200px;
    border:1px ;
    border-radius: 12px;
    border-left:6px solid purple;
    line-height:10px;
    padding-left: 30px;
    background-color: white;
}
.box5{
  
    width: 600px;
    height: 130px;
    border-left:6px solid purple;
    background-color: white;
    border-radius: 12px;
    padding-right:15px;
    padding-left:15px;
    font-size:23px;    
    line-height:5px;
}
.textareaWrap{
   width: 600px;
    padding-left: 20px;
    border-radius: 12px;
    border-left:6px solid purple;
    border-right:1px;
    border-top:1px;
    border-bottom:1px;
    background-color: white;
    font-family: "Dongle", serif;
    font-size:23px;
}

textarea{
    width: 96%;
    height: 150px;
    border:1px;
    font-family: "Dongle", serif;
    font-size:23px;
}

/* input 위치 조정 */
.input{
    border-radius:100px;
    background-color: rgb(208, 191, 224);
    border:1px;
}
input[type="button"]{
    font-family: "Dongle", serif;
    width:70px;
    height:30px;
    font-size:23px;
    margin-bottom:20px;
    border-radius:20px;
    border:2px bold purple;
}
input[type="button"]:hover{
    background-color: purple;
}
.box6{
    text-align: right;
    width: 600px;
   
}
select{
    font-family: "Dongle", serif;
    font-size:20px;
    border-radius:8px;
    border:none;
}
button{
    border-radius:8px;
    border:1px;
    color: black;
    background-color: grey;
    font-family: "Dongle", serif;
    font-size:20px;
    width: 60px;
}
button:hover{
    background-color: purple;
}